/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .image {
    width: 30%;
  }
  
  .button {
    display: flex;
    gap: 10px;
  }
  
  .setting-button, .hbutton {
    background-color: #222121;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .hbutton {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: dodgerblue;
  }
  
  .setting-button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .image {
      width: 60%;
    }
  
    .button {
      width: 100%;
      justify-content: space-between;
    }
  }
  